body{
    background-color: white;
    margin: 0px;
    box-sizing: border-box;
    
}
:root{
    --primary:rgb(236,33,33);
}
@font-face {
    font-family: 'extrabold';
    src: url(assets/TTNorms-ExtraBold.woff2);
}

@font-face {
    font-family: 'bold';
    src: url(assets/TTNorms-Bold.woff2);
}

@font-face {
    font-family: 'regular';
    src: url(assets/TTNorms-Regular.woff2);
}

@font-face {
    font-family: 'medium';
    src: url(assets/TTNorms-Medium\ .woff2);
}

header {
  height: 550px;
  /* background-color: var(--text-primary-color); */
  background-image: url(assets/home.png);
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .container {
  height: 100%;
  box-sizing: border-box;
  color: white;
  font-weight: bolder;
}
.login {
  display: flex;
  justify-content: end;
  gap: 9px;
  padding-top: 16px;
  margin-right: 24px;
}
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.login button {
  height:32px;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: -0.01px;
  line-height: 22px;
  font-family: 'bold';
  padding: 0 12px;
}
.loginb{
  color: black;
  background-color: white;
}
.loginbb{
  letter-spacing: -0.01px;
}
.openbb{
    background-color: var(--primary);
  color: white;
}
.openappa{

}
.homecen{
  height: calc(100% - 96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.companylogo{
  display: flex;
  gap: 8px;
  margin: 20px 0;
  height: 18px;
}
.cencontent{
     font-family:'bold';
  font-size: 22px;
  width: 16em;
  text-align: center;
  margin-bottom: 24px;
  line-height: 28px;
};
.loc-button{
     display: flex;
  align-items: end;
}
.loc-area{
 color: black;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 6px 16px;
}
.location-button{
    display: flex;
  align-items: center;
  color: rgb(90, 90, 90);
  font-family:'regular';
  letter-spacing: 1px;
}
.rightarrow {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchic,
.rightarrow,
.loginAc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchic{
  margin-right: 12px;
}


.login-home{
      margin-top: 16px;

}
.loginAa{
    display: flex;
  align-items: center;
  min-height: 32px;
  color: black;
  background-color: white;
  border-radius:20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 12px;
  box-shadow: inset 0 0 0 1px #19191900, 0px 2px 8px 0px #19191933;
}
.loginAd{
    margin-left: 4px;
  letter-spacing: -0.01px;
  font-family:'bold';
}
.loginAb {
  display: flex;
  align-items: center;
}

.enter-delivery-address-area {
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-weight: 500;
  padding-bottom: 2px;
  border: none;
  font-family:'medium';
}
.slidebar-marble-section {
  display: flex;
  background-color: rgb(254, 241, 238);
  box-sizing: border-box;
}

.slidebar-marble-section-insider {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
  box-sizing: border-box;
}

.slidebar-marble {
  margin-left: 5%;
  margin-right: -10%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  align-items: center;
  box-sizing: border-box;
}

.slidebar-marble-image {
  width: 100%;
  box-sizing: border-box;
}

.slidebar-marble-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  box-sizing: border-box;
}

.slidebar-desktop-image {
  display: none;
}

.slidebar-marble-contents {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.slidebar-marble-heading {
  text-align: center;
  max-width: 90%;
  margin-top: 20px;
  font-family:'bold';
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01px;
}

.slidebar-marble-description {
  font-family:'medium';
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  box-sizing: border-box;
}

.slidebar-marble-button {
  margin-top: 20px;
  box-sizing: border-box;
}

.slidebar-marble-button button {
  position: relative;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 99px;
  background-color: var(--primary);
  border: none;
  color: white;
}

.slidebar-marble-button-text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.01px;
  box-sizing: border-box;
  padding: 0 12px;
  font-family: 'bold';
}

.slidebar-marble-remarks {
  margin-top: 12px;
  font-family:'bold';
  font-size: 12px;
}

.slidebar-marble-section div:nth-child(4) {
  margin-right: 5%;
}

.signup-dasher {
  background-color: white;
}
.sec6a {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
}

.sec6b {
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
  box-sizing: border-box;
  max-width: -5.58em;
}

.sec6c {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.sec6d {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sec6e {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.sec6f {
  display: flex;
  width: 100%;
  min-width: 360px;
  flex-flow: row;
  max-width: 100%;
  padding: 16px 16px;
  box-sizing: border-box;
}

.sec6g {
  margin-right: 32px;
  box-sizing: border-box;
  display: block;
}

.sec6g img {
  height: 88px;
  width: 88px;
  box-sizing: border-box;
  overflow: clip;
}

.sec6h {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec6i {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

.sec6j {
  color: #191919;
  font-family:'bold';
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sec6k {
  font-family:'medium';
  margin-top: 0px;
  color: #191919ff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01px;
  text-align: left;
  box-sizing: border-box;
}

.sec6l {
  border: none;
  padding: 0px;
  margin: 12px 0 0 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: var(--primary);
  font-family: 'bold';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01px;
  cursor: pointer;
}

.sec6n {
  margin-left: 4px;
}
.sec4Abz{
  text-align: left;
  max-width: 90%;
  margin-top: 20px;
  font-family: 'bold';
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01px;
  display: block;
  box-sizing: border-box;
}
.sec4Aby{
  margin-top: 10px;
  font-family: 'bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
}
.sec4Abx{
  margin-top: 10px;
  font-family: 'medium';
  font-size: 14px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 20px;
}
.sec4Abv{
  margin-top: 20px;
  box-sizing: border-box;
}

.sec4Abv button {
  background-color: var(--primary);
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 32px;
  padding: 0 12px;
  border: none;
  border-radius: 100px;
}

.sec4Ag{
    text-align: left;
  display: flex;
  flex-direction: column;
}
#grocery-section {

  display: block;
}

#grocery-section .section-grocery {
  width: 100%;
  height: 350px;
  background-image: url(/assets/grocery_desktop.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

section .section-grocery-insider {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.6);
  display: flex;
  justify-content: center;
}

.section-grocery-contents {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  max-width: 550px;
  margin: auto 0 auto 0;
  color: white;
  text-align: center;
  letter-spacing: -0.01px;
}

.grocery-heading {
  font-family:'bold';
  font-size: 24px;
  max-width: 90%;
  margin-top: 20px;
  line-height: 28px;
  box-sizing: border-box;
}

.grocery-sub-heading {
  font-family: 'bold';
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}

.grocery-description {
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  font-family: 'medium';
  font-weight: 500;
  padding: 0px;
  letter-spacing: -0.01px;
}

.grocery-button {
  margin-top: 20px;
}

.grocery-button button {
  background-color: var(--primary);
  font-family:'bold';
  font-weight: 500;
  color: white;
  border: none;
  font-size: 14px;
  padding: 0 12px;
  min-height: 32px;
  border-radius: 20px;
}

.grocery-button-text {
  letter-spacing: -0.01px;
}
















































.icon {
  display: flex;
  align-items: center;
  background-color: white;
  margin:0px;
  max-height:90px;
  padding: 0px;
}

.icon span {
  display: inline-block;
  font-size: 0.7em;
  padding: 20px 0px 0px 0px;
}
.icontext span h2{
   font-family:'bold';
}
.icontext span h4{
   font-family:'regular';
}
.icon img{
    width: auto;
    max-height: 70px;
}
.icon span img{
    width: 20%;
    height: auto;
}
.open-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 0px;
    font-size: 0.75em;
    cursor: pointer;
    border-radius: 20px;
    align-items: right;
}
.icon div.icontext{
    width: 100%;
}
.openbutton button{
    text-align: right;
    font-family: 'bold';

}
.mainimg{
    width: 100%;
    object-fit:cover;
    object-position: center;
    height: 550px;
    position: relative;
   
}
/* .homeimg{
    grid-template-columns:repeat(8, 1fr);
} */

.companyname img{
    position: absolute;
    width: auto;
    height: 17px;
    color: white;
    align-items: center;
    top: 273px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
.homeimg h1{
    position: absolute;
    color: white;
    top: 296px;  /* Add this to position from the top */
    text-align: center;
    font-family: 'bold';
    width: 100%;
    left: 50%;
    max-width: 350px;
    letter-spacing: 0px;
    font-size: 22px;
    line-height: 28px;
    transform: translateX(-50%);
}

.location {
    position: absolute;
    top: 390px;
    left: 52.5%;
    transform: translateX(-50%);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    align-items: center;
    max-width: 415px;
}

.location .locationtext {
    grid-column: 2/ 8;
    display: flex;
    align-items: center;
    background: white;
    padding: 15px 20px 15px 16px;
    font-size: 14px;;
    border-radius: 30px;
    width: 94.2%;
    color: #000000;
    font-weight:550;
    
}

.location input {
    border: none;
    width:100%;
    /* padding: 5px 8px ; */
    font-family: 'medium';
    font-weight:500;
    outline: none;
    color: #4b4444;
    font-size: 16px;
    height: auto;
}

/* .search {
    background-image: url(/Doordash/assets/searchnew.svg);
    width: 32px;
    height: 22px;
    color: white;
    margin-right: 10px;
} */
.locationtext .rightarrow{
    width: 26px;
    justify-self: flex-end;
    height: auto;
    

}

/* .login {
    position: absolute;
    top: 111px;
    right: 20px;
    z-index: 10; */


.login ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.login ul li {
    list-style-type: none;
    margin: 0px 4px;
}

.loginbutton, .openapp {
    background-color: white;
    color: black;
    border: none;
    padding: 7px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'bold';
}

.openapp {
    background-color:var(--primary);
    color: white;
}
.loginbutton2{
    position:absolute;
    top:459px;
    left:50%;
    transform:translateX(-50%);
    background-color: white;
    color: black;
    border: none;
    height: 20px;
    padding: 5.9px 5px 5px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'medium';
    font-size: 0.9em;
    box-shadow:  0.2 rgba(0,0,0,0.2);
    
}
.loginbutton2 button{
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: 'bold';
    margin-left: -7px;
    font-size: 1em;
}
.loginbutton2 img{
    width: 16px;
    height: 16px;
    margin-bottom: -2.5px;
    padding-right: 2px;
}
/* main:after{
    content: "";
    display: table;
    clear: both;
} */
.sec2{
    width: 100%;
    justify-items: center;
    background: white;
    max-width: 400px;
    margin: 0px auto;
    flex: 1 0 auto;
    
}

.sec2content{
    max-width: 100%;
    display: block;
    width: 320px;
    background-color: #f7f7f7;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
    border-radius: 12px;;
}
.sec2content2{
    display: flex;

   
}

.sec2img{
    width: 60px !important;
    height: 60px !important;
    border-radius:12px;
    margin-right: 8px;
    justify-items: center;
    background-color: white;
    align-items: center;
}
.sec2img img{
    height: 32.85px;
    width:34px;
    padding:14px 8px 8px 11px;

        padding-right:0px ;

   fill: none;
    background-color: white;
 
}
.sec2text{
   max-width: 100%;
    display: block;
}
.sec2text h2{
    font-family: 'bold';
    font-size:18px;
    line-height:30px;
    letter-spacing: -0.01px;
    margin:0;
    padding:0px;
}
.sec2star{
    display: flex;
    align-items: center;
    margin: 2px 0 0;
}
.sec2text h4{
    font-family: 'regular';
    font-size:14px;
    color:#606060;
    margin:4px 0 0 4px;;

}
.sec2text h3{
 font-size:14px;
    color:#606060;
    margin:0 0 0 4px;
}
.sec2but{
    width: 100%;
}
.continuebut{
    background: #eb1700;
    color:white;
    margin:16px 0 0 0;
    border-radius: 20px;
    border:none;
    width: 100%;
    padding: 13px 08px ;
    font-family: 'bold';
    font-size: 16px;
}
.sec3A{
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.sec3{
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.sec3content{
    display: flex;
    padding: 16px;
}
.sec3 img{
    width:88px;
    height: 88px;
    justify-self: top;
    margin: 0px 32px 0 0;
}
.sec3 h2{
    font-size:32px;
    font-family:'bold';
    margin:0;
    color:#191919
}
.sec3 h3{
    font-size: 18px;
    font-family: 'regular';
    line-height: 25px;
}
.sec3 h4{
    font-size: 14px;
    color:#eb1700;
    font-family: 'bold';
    margin: 12px 0 0;
}
.sec3 h4 img{
    width: 16px;
    height:16px;
}

.header2 {
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  margin-top: 16px;
  padding: 8px;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
}

.left-section {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;
}
.left-section .logo{
    width: 44px;
    height: auto;
}
.left-section h2 {
  width: 250px;
}

.heron {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.open-btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 6.3px 12px 7px 12px;
  border-radius: 999px;
  font-size: 16px;
  font-family: 'bold';
  cursor: pointer;
}
.sec4{
   width: 100%;;
}
.sec4A{
    width: 100%;
    display: block;
    
}
.sec4Aa{
    display: flex;
    flex-direction: column;
    margin: 0 0 -300px;
    padding: 20px;
    min-width:90%;
    align-items: center;
}
.sec4Ab{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.sec4Aa img,.sec4Ba img,.sec4Bz img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    box-sizing: border-box;
}
.sec4Aa h2,.sec4Ba h2,.sec4Bz h2,.sec4Ca h2{
    text-align: left;
    min-width:90%;
    margin:20px 0 0 0;
    font-family: 'bold';
    font-size: 24px;
}
.sec4Aa .spn4,.sec4Ba .spn4,.sec4Ca .spn4,.sec4Bz .spn4{
    font-family: 'bold';
    font-size: 18px;
    margin:10 0 0 0;
    font-weight: 200px;
}
.sec4Aa .spn4b,.sec4Ba .spn4b,.sec4Ca .spn4b,.sec4Bz .spn4b{
    font-family: 'medium';
    font-size: 14px;
    margin: 10px 0 0 0;
    font-weight:500;
    line-height: 25px;
    text-align: left;

}
.sec4Ac .span4b{
    margin-top:10px;
}
.sec4Aa .findres,.sec4Ba .findres,.sec4Ca .findres,.sec4Bz .findres{
    margin-top: 20px;
}
.sec4Aa .findres button,.sec4Ba .findres button,.sec4Ca .findres button,.sec4Bz .findres button{
    background: #eb1700;
    color:white;
    border:none;
    padding: 10px 12px;;
    border-radius: 20px;
    font-family: 'bold';
    font-size: 14px;
}
.sec4Ba{
    display: flex;
    flex-direction: column;
    padding: 320px 20px 20px;
    min-width:90%;
    background-color: rgb(254, 241, 238);   
    align-items: center;
}
.sec4Bz{
     display: flex;
    flex-direction: column;
    padding: 320px 20px 20px;
    min-width:90%;
    background-color: rgb(254, 241, 238);   
    align-items: center;

}
.sec4C{
    background: url(/assets/grocery_desktop.png)center center/cover;
    height: 350px;
    position: relative;
}    
.sec4Ca{
    display: flex;
        background-color: rgba(30, 30, 30, 0.6);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    place-content: center;
    text-align: center;
    
}
.sec4Cb{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: auto;
    flex-direction: column;
    margin-bottom: auto;
    max-width: 550px;   
    margin-left: 0px;
    margin-right: 0px;
}
.sec4E{
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 40px 0px 20px;
    width: 100%;
}
.sec4F{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    background-color: rgb(254, 241, 238);
    scrollbar-width: none;
}
.sec4Fa{
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 88.5%;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 5%;
    margin-right: -10%;
}
.secFaimg{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.sec4Fatext{
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sec4Fatext h2{
    font-family:'bold';
    font-size: 24px;
    max-width: 90%;
    margin: 20px 0 0 0;
    text-align: center;
}
.sec4Fatext span{
    font-family: 'medium';
    font-size: 14px;
    text-align: center;
    margin: 10px 0 0 0;
}
.sec4but{
    margin-top:20px;
}
.sec4but button{
    background: #eb1700;
    color:white;
    border:none;
    padding: 10px 12px;;
    border-radius: 20px;
    font-family: 'bold';
    font-size: 14px;
}

.sec5Aa{
    width: 100%;
    max-width: 1130px;
    margin:0 auto;
    padding: 24px 0px;
}
.sec5Aa h2{
    font-family: 'bold';
    font-size: 18px;
    text-align: center;
    margin: 0 0 20px;
}
.sec5Ab{
    display: flex;
     /* -webkit-box-pack: center; */
    justify-content: center;
    width: 100%;
    gap:24px;
    flex-direction: column;
}
.sec5Ac{
    display: flex;
    /* -webkit-box-pack: center; */
    justify-content: center;
    width: 100%;
    flex-direction: row;
}
.sec5Ad{
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec5Ad span{
    font-family: 'medium';
    font-size: 16px;
    margin: 0 0 10px;
}
.sec5Ae{
        display: flex;
    flex-direction: column;
    width: 100%;
}
.sec5Af{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    font-size: 16px;
    font-family: 'medium';
    gap: 20px;
}
.sec5Af a{
    text-decoration: none;
    color: black;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    padding:0px 20px ;
    color: white;
}
.footerA{
    display:flex;
    flex-direction:column;
    padding: 20px 0px 0 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.footerAa{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerAb,.footerB,.footerC{
    width:100%;
}
.footerAc,.footerAd{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    font-family: 'medium';
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom:25px; ;

}
.footerBa{
    display:flex;
    flex-direction: column;
    gap: 12px;
    padding:32px 0 0;
    align-items: center;
}
.footerBa img{
    background-color: rgb(73,73,73);
    opacity: 0.5;
    width: 144px;
    border-radius: 10px;

}
.footerAc a,.footerAd a{
    text-decoration: none;
    line-height: 20px;
    color: #c4c4c4;   
}
footer h2,h3{
    font-family: 'regular';
    font-size: 16px;
    /* line-height: 22px;
    letter-spacing: .15px;; */
}
.footerC{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items:center;
    padding: 32px 0 ;
}
.footerCa{
    display:flex;
    flex-direction:row;
    gap:10px;
}
.footerCb{
    background-color: white;
    color: black;
    border-radius: 15px;    
    padding: 4px 10px;
    margin-top:6px ;
    width:130px;
    justify-content: center;
}
.footerCb img{
    width: 24px;
    height: auto;
}
.footerCc{
    align-items: center;
    display: flex;
    /* padding: 0 8%; */
    flex-direction: row;
    
}
.footerD{
    display: flex;
    flex-direction: column;
    margin: 12px 0 0;
    align-items: center;
    font-size: 12px;
    font-family: 'medium';
}
.footerDa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    color: #c4c4c4;
}
.footerAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
   }

.sec4AC{
    display:flex; flex-direction:column;
}
.sec4FF{
    display: flex;
    flex-direction: column;
}
.Signin{
    display: none;
}
.Signup{
    display: none;
}
.locad{
    display: none;
}
.right-arrow-white{
    display:none;
}
.loginAf{
    display: none;
}
.sec4Abd{
    display: none;
}
.loginAg{
    display: none;
}
.logolap{
  display: none;
}
.doorlap{
    display: none;
    
}
.playlap{
    display: none;
}
.applap{
    display: none;
}
.dashlap{
  display: none;
}
.convilap{
  display: none;
}
.packlap{
    display: none;
}
.flolap{
    display: none;
}
.barlap{
    display: none;
}
.petlap{
    display: none;
}
.womenlap{
    display: none;
}
.menlap{
    display: none;
}
.footmgn{
    /* cdAOCc  */
    width: 100%;
    background-color: #191919;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}
.footset{
    /* hgwwIo */
    width: 1184px;;
    box-sizing: border-box;
}
.footpadd{
    /* cNCnse */
    max-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.footpadd{
    /* gqULYz */
    text-align: center;
    
}
.footpadd >:first-child{
    /* margin-top: 12px; */
}
.section1{
    /* kehbFL */
    padding-top: 32px;
    padding-bottom: 32px;
    flex: 1 1 0%;
}
.section1 > :first-child{
    margin-bottom: 7px;
}
.footh2{
    /* dydVAW */
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'medium';
    margin-top: 0px !important;
    letter-spacing: -0.01px;
    line-height: 22px;
}
.footp1{
    /* ctlXJH */
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-direction: column;
}
.footp1 .s1p1{
  flex:1 1 0;
}
.s1p1{
    /* cHCIso */
    display: flex;
    flex-direction: column;
}

.s1p1 > *{
    margin-top: 8px;
}
.line{
    color: rgb(196,196,196);
    font-family: 'medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top:8px;
    letter-spacing: -0.01px;
    text-decoration: none;
}
.section2{
  /* dymPiy ,OJXqF */
  display: flex;
  flex-direction: column-reverse;
}
.s2padding{
    /* gqULYz,eNkRCg  */
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 0%;
    justify-content: space-between;
    gap: 12px;
}
.s2padding > * {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
}
.s2padding > * >:first-child{
    margin-bottom: 7.8px;
}
.mob-goog{
    /* cfEBmt */
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}
.section2 > * {
    flex: 1 1 0%;
}
.mob-goog > * {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m-container{
    /* .fmCyWB */
    opacity: 0.7;
    cursor: poniter;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
}
.m-padding{
    /* dJIbim */
    padding: 2px 8px;
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-padding img{
    height: 48px;
    width: 144px;
    fill: #ffff;
    x:0px;
    y:0px;
}
.mob-goog > * > * + *{
    margin-top: 12px;
}
.section3 {
    /* .gqULYz,.haJYzw */
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}
.sec-3{
    /* eRuPEE */
    max-width: 100%;
    align-items: center;
    flex-direction: row;
    margin-top: 12px;
}
.section3 > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lstlogo{
    /* egXQHq */
    text-decoration: inherit;
    cursor: pointer;
    box-sizing: border-box;
}
.logotxt{
    position: relative;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.bgicononly > * + *{
    margin-left: 8px;
}
.lstlogo-mrg{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.lstlogo{
    width: 32;
    height: 18;
    fill: #ffff;
}
.lst1-txt{
    /* gccwzI */
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: filter 0.2s;
}
.sec-3 > * + * {
    margin-left: 16px;
}
.lst-txt{
    color: rgb(196, 196, 196);
    font-family: 'medium';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.01px;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.sec-2{
    /*fNjA-do */
    padding: 12px;
    margin-top:5px;
}
.lang-bdr{
    /* jxBfvu  */
    width: 150px;
}
.lang-mgn{
    /* liEdSS */
    display: flex;
    min-height: 32px;
}
.lang-container{
    /* WxsqL,cWZKtF */
    width: 100%;
    max-width: 100%;
    display: block;

}
.lang-mgn1{
    font-family: 'medium';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    z-index: 1;
    padding: 4px 12px;
    border: none;
    box-shadow: 0 0 0 1px;
    background-color: #f1f1f1ff;
}
.earth{
    /* kBqRMP */
    max-width: 100%;
    margin-right: 8px;
}
.earth-mgn{
    /* hsQenC */
    display: flex;
}
.earth-img{
    width: 24;
    height: 24; 
    fill: none;
}
.earth-img1{
     width: 24;
    height: 24; 
    fill: none;
    margin-left: 12px;
}
.eng{
    /* ctgegP */
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0px auto;
}
.eng-mgn{
    /* gbreNo */
    position: relative;
    background: inherit;
}
.drop{
    /* dzAMwJ */
    font-family: 'medium';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    width: 100%;
    border:none;
    outline: none;
    display: flex;
    background: inherit;
    color: currentColor;
    appearance: none;
    padding: 0px;
    margin: 0px;
}
.downsvg{
     /* QArxc */
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     top: 0px;
     right: 0px;
     height: 24px;
     max-height: 100%;
     min-height: 8px;
     pointer-events: none;
     background: transparent;
     bottom: 0px;
     margin: auto 0px;
}
.sec1{
    /* IEMKC */
    flex-wrap: nowrap;
}
.fb{
    /* fmCyWB */
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
}





















@media screen and (min-width: 320px) and (max-width: 767px){
  .header{
      background-image: url(/assets/home.png);
   }
  .footerAc:nth-child(2){
    padding:20px 0 0;
  }
  .footerAc:nth-child(3){
    padding:20px 0 0;
  }
  .footerAc:nth-child(4){
    padding:20px 0 0;
  }
  .sec5Aa{
    padding:24px 16px;
    box-sizing: border-box;
  }
  .footerA{
    padding: 0;
  }
  .footerAa{
    padding: 32px 0px;
  }
  .footerAa h3{
    margin:0 0 16px;
  }
  .footerAc{
    margin-bottom:0px;
  }
  .footerAd{
    margin-bottom:0;
  }
   .companylogo{
    position: relative;
        top: 2px;
    }
        .homecen {
        height: calc(100% - 97.5px);
    }
    .loc-button{
      width: 297.6px;;
    }
    .searchic{
      margin-right:5px;
    }
    .sec6e{
        gap: 0px;
    }
    .continuebut{
        max-width: 318.4px;
        height: 40px;
        margin-top:17.9px;
        padding:1px 8px;
    }
    .sec2content{
      padding-left: 21px;

    }
    .sec2img img{
    padding: 13px 8px 8px 12.8px;
    width:32px;
    }
    .footerBa img  {
    width: 144px;
    height: 48px;
    padding: 2px 8px;
    }
    .footerAc h2{
      margin-bottom:8px;
      margin-top:15px;
      letter-spacing: .15px;
    }
    .footerCa {
    gap: 12px;
    }
   
}
@media screen and (min-width:768px){
     header {
        height: 650px;
        padding: 0px 8px;
        background-image: url(/assets/home.png);
    }
    
    .header2{
        display: none;
    }
    .companylogo{
        position: relative;
        top:-202.5px;
    }
    .loginbb{
        display:none;
    }
    .loginb{
     background-color: var(--primary);
        color: white;

    }
    .openbb{
        background-color: white;
        color: #606060;
    }
    .Signin{
        display:contents;
        font-size: 18px;
    }
    .dashlap{
        display: block;
    }
    .dashmob{
        display: none;
    }
    .convilap{
        display: block;
    }
    .covimob{
        display: none;
    }
    .openappa{
        display: none;
    }
    .Signup{
        display: contents;
        font-size: 18px;

    }
    .login{
        margin-right:16px;
    }
    .searchic .search{
        display: none;
    }

    .locad{
       display:inherit;
    }
    
   
    .loc-area{
      flex-direction: column;
              flex:1 1 100%;

       width: 380px;
       align-items:self-start;
        padding: 8px 8px 8px 20px;

    }
    .location-button{
        flex:1 1 100%;
        width: 100%;
    }
    .enter-delivery-address-area {
        margin-right:124px;
        margin-left:0px;
    }
    .searchic{
        margin-right: 10px;
    }

    .homecen{
        flex-grow: 1;
        -webkit-box-flex: 1;
        width:408px;
        margin: 4 auto 0;

    }
    .login-home{
        width:91.14px;
    }
    .sec6g{
        margin-right:64px;
    }
    .sec6g img{
        height: 124px;
        width: 124px;
    }
    .sec6e{
        gap:0px;
    }
    .sec6b{
        margin:32px 0;
    }
    div.sec4ac{
        height:290px;

    }
    .sec4Aa h2, .sec4Ba h2, .sec4Ca h2,.sec4Bz h2{
    font-size:40px;
    margin-bottom: 0px;
    max-width: 90%;
    line-height: 40px;
    letter-spacing: -0.01px;
    }
    .searchic{
  margin-right: 5px;
   }
   .right-arrow-small{
    display:none;
}
.right-arrow-white{
    display:inherit;
}

.rightarrow{
    background: var(--primary);
    border-radius: 30px;
}
.loginAe{
    display: none;
}
.loginAf{
    display: contents;
}


/*2?*/
.sec4A {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    box-sizing: border-box;
    
  }

  .sec4Aa {
    display: flex;
    flex-direction: row;
    min-height: 504px;
    justify-content: center;
    gap: 60px;
    max-width: 1184px;
    box-sizing: border-box;
    margin:0 0 -60px;
    flex-flow: row-reverse;
  }
  .sec4Ba {
    display: flex;
    flex-direction: row;
    min-height: 504px;
    justify-content: center;
    gap: 60px;
    max-width: 1184px;
    box-sizing: border-box;
    padding:80px 20px 20px;
    
  }
  .sec4Bz {
    display: flex;
    flex-direction: row;
    min-height: 504px;
    justify-content: center;
    gap: 60px;
    max-width: 1184px;
    box-sizing: border-box;
    margin:0 0 -40px;
    padding: 60 20 20px;
    flex-flow: row-reverse;
  }


  .sec4Ag {
    max-width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .sec4Abz {
    max-width: 90%;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.01px;
    box-sizing: border-box;
  }

  .sec4Aby{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .sec4Abx {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    box-sizing: border-box;
  }

  .sec4Abv{
    margin-top: 30px;
    box-sizing: border-box;
  }

  .findres button {
    max-width: 100%;
    height: 40px;font-size: 16px;
    line-height: 22px;
    display: block;

  }

 
  .sec4Aa img, .sec4Ba img,.sec4Bz img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: clip;
   }


  .sec4Abx{
    margin-top: 10px;
  }
  #grocery-section {
    height: 600px;
  }

  #grocery-section .section-grocery {
    width: 100%;
    height: 100%;
  }

  .grocery-heading {
    font-size: 40px;
    line-height: 40px;
  }

  .grocery-sub-heading {
    font-size: 20px;
    margin-top: 20px;
    line-height: 24px;
  }

  .grocery-description {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

  .grocery-button {
    margin-top: 30px;
  }

  .grocery-button button {
    height: 40px;
  }

  .grocery-button-text {
    font-size: 16px;
    line-height: 22px;
  }
  .sec4E{
    padding: 60 20 40px !important;
    font-size:32px;
    box-sizing: border-box;
  }
  .sec4E span{
    font-size: 32px !important;
    max-width: 500px !important; 
   }
   .slidebar-marble-heading-section {
    padding: 60px 20px 40px;
  }

  .slidebar-heading {
    text-align: center;
    max-width: 500px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
  }

  .slidebar-marble-section {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: auto;;
    width: 100%;
  }

  .slidebar-marble-section-insider {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1180px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    max-width: 1184px;
  }

  .slidebar-marble {
    margin: 0px;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    width: 50px;
  }

  .slidebar-desktop-image {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .slidebar-marble-button button {
    height: 40px;
  }

  .slidebar-marble-remarks {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: -0.04px;
    font-family: var(--font-ttnorms-medium);
    line-height: 20px;
  }

  .slidebar-desktop-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-sizing: border-box;
  }

  .slidebar-marble-heading {
    font-size: 40px;
    line-height: 40px;
    margin-top: 16px;
  }

  .slidebar-marble-button {
    margin-top: 30px;
  }

  .slidebar-marble-description {
    font-size: 16px;
    margin-top: 20px;
    line-height: 22px;
  }

  .slidebar-marble-button-text {
    font-size: 16px;
    line-height: 22px;
  }
  .footerAa{
    flex-direction: column;
    align-items: flex-start;
   }
   .footerAc{
    flex-direction: column;
    align-items: flex-start;
    /* gap:11.15px; */
    justify-content: space-between;
   }
   .footerBa img  {
    width: 144px;
    height: 48px;
    padding: 2px 8px;
    }
   .footerAb{
    display: flex;
    justify-content: space-between;
   }
   .footerAd{
    flex-direction: row;
    flex: 1 1 0%;
    justify-content: space-between !important;
    gap:12px;
    align-items: flex-start;
   }
   .footerAdd{
    align-items: first start;
    display: flex;
    flex-direction: column;
   }
   .footerB{
    display: flex;
    flex-direction: column;
   }
   .footerAc h2{
    margin: 0 0 8px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 700;
   }
   .footerAc,.footerAd{
    margin:0;
    width: auto;
    /* flex: 1 1 0%; */
    gap:8px;    

   }
   .footerA{
    padding:0;
   }
   .footerAa{
    padding: 32px 0px;
    gap:12px;
   }
   .footerAa h3{
    margin:0 0 8px;
   }
  
   .footerC{
    flex-direction: row;
    flex-direction: row-reverse;
        -webkit-box-pack: flex-end;
   }

   .footerD{
    margin:0;
    align-items: center;
    flex-wrap: wrap;

   }
   .login button{
    height:40px;
   }
   .companylogo{
        top: -202.5px;
    }
        .homecen {
        height: calc(100% - 112px);
    }
    .convilmob{
  display: none;
}
.packmob{
    display: none;
}
.flomob{
    display: none;
}
.barmob{
    display: none;
}
.petmob{
    display: none;
}
.convilap{
  display: block;
}
.packlap{
    display: block;
}
.flolap{
    display: block;
}
.barlap{
    display: block;
}
.petlap{
    display: block;
}
.slidebar-marble-image img{
  height: 344px;
  width:344px;
}
.womenlap{
    display: block;
}
.menlap{
    display: block;
}
.menmob{
    display: none;
}
.womenmob{
    display: none;
}
 .sec2{
    display: none;
   }
   .sec4Aa .findres button, .sec4Ba .findres button, .sec4Ca .findres button, .sec4Bz .findres button {
    font-size:16px;
}
.sec5Aa{
padding:48px 0px;
}
.section1{
  display: flex;
  flex-direction: column;
}
.footp1{
  flex-direction: row;
}
.s1p1{
  align-items:flex-start;
  text-align: left;;

}
.footerpadd{
  text-align:left
}
.section1 > :first-child {
    align-self: flex-start;
    margin-bottom: 7.8px;
}
.s2padding{
  flex-direction: row;
  width:100%;
  justify-content: space-between;

}
.section3{ 
  flex-direction: row;
  height: 36px;
 
}
.sec-3{
  margin-top:2px;
}
.sec-2{
  margin-top:2px;
  padding:0 12px;
  height:36px;
}
.fb{
  margin-top:-10.41px;
}
.enter-delivery-address-area{
    padding-top:2px;
  }
  /* .cencontent{
   letter-spacing:-0.01px !important;
  } */
}
@media screen and (min-width:769px){
    .cencontent{
      font-size: 40px;
      width: 750px;
      margin-bottom: 24px;
    }
    .companylogo{
        top: -216.5px;
    }
    .companylogo img{
        width: 100%;
        height: auto; 
    }
    .loc-button{
      margin-top:6px;
    }
    .homecen{
height: calc(100% - 105.5px);   
 }
   .sec2{
    display: none;
   }
   
 
}

@media screen and (min-width:960px){
 .loginAg{
    display: contents;
 }
 .loginAf{
    display: none;
 }
 .login-home{
  width:auto;
 }
 .doordash-name img{
  height:18px;
  width: 155px;
 }
 .logomob{
    display: none;
 }
 .logolap{
    display: block;
 }
 .doordash-name{
  margin-left:12px;
 }
 .companylogo{
  gap:0px;
  top: -218.8px;
 }
 .loginAd{
   padding:2 0 0 0;
  }

 .homecen{
height: calc(100% - 101px);   
 }
 .footerB{
  flex-direction:row;
  flex-flow: row-reverse;

 }
 .footerAd{
  justify-content: flex-start !important;
  gap: 30PX;
 }
 .footerBa img{
  padding: 2px 8px;
  background-color:rgb(73, 73, 73);
  border-radius: 7px;
 }
 .applap{
  display: block;
 }
 .appmob{
  display: none;
 }
 .playlap{
  display: block;
 }
 .playmob{
  display: none;
 }
 .slidebar-marble-image img{
  height: 100%;
  width:100%;
  min-height: 472px;
}
.section2{
  flex-direction: row;
}
.mob-goog{
  justify-content:flex-end;
}
.s2padding{
  display: flex;
    -webkit-box-pack:justify ;
    gap:17px;
    justify-content:space-between;

}
.logolap{
  margin: 0; 
  margin-top:-0.8px;
}


}
@media screen and (min-width:1024px){
    .section3{
   box-sizing: border-box;  
  height:96px !important;
}
.loginAd{
   padding:2 0 0 0;
  }
  .enter-delivery-address-area{
    padding-top:2px;
  }
  .cencontent{
   letter-spacing:-0.01px;
  }
  
}
@media screen and (min-width:1140px){
  .sec6e{
    flex-direction: row;
  }
  .slidebar-marble-image img{
  height: 100%;
  width:100%;
}
  .sec6f{
    flex-direction: column;
  }
  /* footer{
    align-items: center;
  } */
  /* .footerA{
  max-width: 1184px;
  } */
  /* .footerC{
    justify-content:  center;
  } */
  .sec4{
    justify-items: center;
  }
  .footerAd{
    gap:72px;
    justify-content: space-between;
  }
  .sec4A{
    width: auto;
    min-width: 150px;
  }
  #grocery-section{
    width: 100%;;
  }
  .slidebar-marble-section{
    height: auto;
    min-height: 200px;;
  }
  .s2padding{
    gap:auto;
    justify-content:space-between;
  }
  .footpadd{
    width:1184px;
    background-color: #191919;
  }
  .loginAd{
   padding:2 0 0 0;
  }
  
  
}
/* .sec4Aa .spn4, .sec4Ba .spn4, .sec4Ca .spn4,.sec4Bz .spn4{
    font-size: 20px;
    margin-top: 20px;;
}
.sec4Aa .spn4 br, .sec4Ba .spn4 br, .sec4Ca .spn4  br{
    display: none;
}

   

    .companyname img{
        top:21px;
        width: 160px;
        height: auto;
    }
    button.openapp{
        background: white;
        font-size: 18px;
        padding: 10px 12px;
    }
     .openapp p {
        display: none;
     }
     .openapp::after  {
        color:#606060;
        content: "Sign Up";
     }
     button.loginbutton{
        background: var(--primary);
        font-size: 18px;
        padding: 10px 12px;
    }
     .loginbutton p{
        
        display: none;
     }
     .loginbutton::after  {
        color:white;
        content: "Sign In";
     }
     .login{
        top:16px;
     }
     .homeimg h2{
        font-size:40px;
        top: 213px;
        line-height:40px;
        letter-spacing: 0px;
     }
     .homeimg h2 br{
        display: none;
     }
     .mainimg{
        height:650px;
     }
     .location{
        top:320px;
        max-width: 550px;
        
     }
     .location .locationtext{
        padding:12px 20px;
     }
    /* .search{
        background-image:  url(/Doordash/assets/loc.svg);
        width: 32px;
        margin-right:12px;
        height: 24px;
     } */
     /* .locationtext .rightarrow{
        background-color: var(--primary);
        border-radius: 50%;
        padding: 10px;
        position: relative;
        right: -11px;
    
    }
    .loginbutton2{
        top:402px;
        padding: 6px 10px;

    }
    .loginbutton2 p{
        display: none;
    }
    .loginbutton2::after  {
        color: black;
        content: "Sign In";
        font-family: 'bold';
        margin-left: -10px;;
    }
    .sec2{
        display: none;
    }
    .sec3{
        margin:32px 0;
    }
    .sec4Aa{
    flex-direction: row;
    justify-content: center;
    margin-bottom: -60px;
    gap:60px;
    flex-flow: row-reverse;
    max-width: 1184px;

    }
    .sec4a img{
        height:500px;
        width: 100%;
        object-fit: cover;
    }
    


.sec4Aa .spn4b, .sec4Ba .spn4b, .sec4Ca .spn4b,.sec4Bz .spn4b {
    font-size: 16px;
    margin-top:10px;
    
}
.sec4Aa .findres, .sec4Ba .findres, .sec4Ca .findres {
    margin-top: 30px;
    font-size:16px;
}
.sec4Ba{
    padding: 80px 20px 20px;
    flex-direction: row;
    gap: 60px;
    max-width: 1184px;


}
   .sec4Aa img, .sec4Ba img,.sec4Bz img{
    width: 100%;
    height: 500px;
    object-fit: cover;
   }
   .sec4C{
    height: 600px;
   }
   .sec4Bz{
    padding: 80px 20px 20px;
    flex-direction: row;
    gap: 60px;
    flex-flow: row-reverse;
    max-width: 1184px;
    padding-top: 60px !important;
    margin-bottom: -40px;
   }
   .sec4E{
    padding: 60px 0 20px;
   }
   .sec4E span{
    font-size: 32px !important;
    max-width: 500px !important; 
   }
   .sec4F{
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
    max-width: 1184px;
   }
   .sec4Fa{
    max-width:50%;
    min-width: 50%;
   }
   .footerAa{
    flex-direction: column;
    align-items: flex-start;
   }
   .footerAc{
    flex-direction: column;
    align-items: flex-start;
   }
   .footerAb{
    display: flex;
    justify-content: space-between;
   } */ */
    