body{
    background-color: white;
    margin: 0px;
    
}
:root{
    --primary:rgb(236,33,33);
}
@font-face {
    font-family: 'extrabold';
    src: url(assets/TTNorms-ExtraBold.woff2);
}

@font-face {
    font-family: 'bold';
    src: url(assets/TTNorms-Bold.woff2);
}

@font-face {
    font-family: 'regular';
    src: url(assets/TTNorms-Regular.woff2);
}

@font-face {
    font-family: 'medium';
    src: url(assets/TTNorms-Medium\ .woff2);
}


.icon {
  display: flex;
  align-items: center;
  background-color: white;
  margin:0px;
  max-height:90px;
  padding: 0px;
}

.icon span {
  display: inline-block;
  font-size: 0.7em;
  padding: 20px 0px 0px 0px;
}
.icontext span h2{
   font-family:'bold';
}
.icontext span h4{
   font-family:'regular';
}
.icon img{
    width: auto;
    max-height: 70px;
}
.icon span img{
    width: 20%;
    height: auto;
}
.open-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 20px;
    font-size: 0.75em;
    cursor: pointer;
    border-radius: 20px;
    align-items: right;
}
.icon div.icontext{
    width: 100%;
}
.openbutton button{
    text-align: right;
    font-family: 'bold';

}
.homeimg img{
    width: 100%;
    object-fit:cover;
    object-position: center;
    height: 550px;
    position: relative;
   
}
/* .homeimg{
    grid-template-columns:repeat(8, 1fr);
} */

.companyname img{
    position: absolute;
    width: auto;
    height: 18px;
    color: white;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
.homeimg h2{
    position: absolute;
    color: white;
    top: 42%;  /* Add this to position from the top */
    text-align: center;
    font-family: 'bold';
    font-size: 1.3em;
    width: 100%;
    left: 50%;
    letter-spacing: 1.2px;
    transform: translateX(-50%);
}

.location {
    position: absolute;
    bottom: 37%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    align-items: center;
    max-width: 415px;
}

.location .locationtext {
    grid-column: 2/ 8;
    display: flex;
    align-items: center;
    background: white;
    padding: 10px 20px;
    font-size: 15px;;
    border-radius: 30px;
    width: 100%;
}

.location input {
    border: none;
    width:100%;
    padding: 5px 8px ;
    font-family: 'medium';
    outline: none;
    font-size: 1.2em;
    height: auto;
}

.locationtext .search {
    width: 20px;
    height: auto;
    margin-right: 10px;
}
.locationtext .rightarrow{
    width: 26px;
    justify-self: flex-end;
    height: auto;

}

.login {
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 10;
}

.login ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.login ul li {
    list-style-type: none;
    margin: 0px 10px;
}

.loginbutton, .openapp {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'bold';
    font-size: 0.9em;
}

.openapp {
    background-color:var(--primary);
    color: white;
}
.loginbutton2{
    position:absolute;
    bottom:30%;
    left:50%;
    transform:translateX(-50%);
    background-color: white;
    color: black;
    border: none;
    height: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'medium';
    font-size: 0.9em;
    box-shadow:  0.2 rgba(0,0,0,0.2);
    
}
.loginbutton2 button{
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: 'bold';
    margin-left: -7px;
    font-size: 1em;
}
.loginbutton2 img{
    width:15px;
    height:auto;
    bottom: -2px;
}
/* main:after{
    content: "";
    display: table;
    clear: both;
} */
.sec2{
    width: 100%;
    justify-items: center;
    background: white;
    
}
.sec2content{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
    border-radius: 20px;;
}
.sec2content2{
    display: flex;
   
}
.sec2img img{
    width: 40px;
    padding: 8px;
    background-color: white;
    border-radius: 10%;
    height: auto;
 
}
.sec2text{
   text-align: left;
    padding: 0px 10px;
}
.sec2text h2{
    font-family: 'bold';
    font-size:18px;
    margin:0;
}
.sec2star{
    display: flex;
    align-items: center;
    margin: 2px 0 0;
}
.sec2text h4{
    font-family: 'regular';
    font-size:14px;
    color:#606060;
    margin:2px 0 0 4px;;

}
.sec2text h3{
 font-size:14px;
    color:#606060;
    margin:0 0 0 4px;
}
.sec2but{
    width: 100%;
}
.continuebut{
    background: #eb1700;
    color:white;
    margin:20px 0 0 0;
    border-radius: 20px;
    border:none;
    width: 100%;
    padding: 10px 08px ;
    font-family: 'bold';
    font-size: 17px;;
}
.sec3A{
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.sec3{
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.sec3content{
    display: flex;
    padding: 16px;
}
.sec3 img{
    width:88px;
    height: 88px;
    justify-self: top;
    margin: 0px 32px 0 0;
}
.sec3 h2{
    font-size:32px;
    font-family:'bold';
    margin:0;
    color:#191919
}
.sec3 h3{
    font-size: 18px;
    font-family: 'regular';
    line-height: 25px;
}
.sec3 h4{
    font-size: 14px;
    color:#eb1700;
    font-family: 'bold';
    margin: 12px 0 0;
}
.sec3 h4 img{
    width: 16px;
    height:16px;
    margin-bottom:-5px;
}
.sec4{
    background-color: antiquewhite;
    margin: 0 0 -300px;
    padding: 320px 20px 20px;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
  height: 90px;
  width: 100%;
  box-sizing: border-box;
}

.left-section {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;
}
.left-section .logo{
    width: 44px;
    height: auto;
}
.left-section h2 {
  width: 250px;
}

.heron {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.open-btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
